html {height:100%;}
body {height:100%; margin: 0px 0px 0px 0px; padding:0px 0px 0px 0px;}

a {border-style:none; text-decoration:none;}
img{border-style:none; text-decoration:none !important;}
ul{list-style-type:circle;}

div.Photo{background:#000000; border-style:solid; border-color:#FFFFFF; border-width:3px; width:500px; height:300px; background-image:url('loading.gif'); background-repeat:no-repeat; background-position:center center;}
img.thumbnail{border-style:solid; border-width:3px; border-color:#444444;}
.borderimg { border:2px solid #000000; }
.SlideshowProgressBar{ background:#000000; font-size:2px; }

.AlbumTitle{font: normal normal 900 20px arial; color: #AAA;}
.AlbumTimestamp{font: normal normal 900 10px arial; color: #AAA;}

.PhotoComment{font: italic normal 700 16px arial; color: #AAA;}
.PhotoComment a{font: italic normal 700 16px arial; color: #AAA;}
.PhotoComment a:link{font: italic normal 700 16px arial; color: #AAA;}
.PhotoComment a:visited{font: italic normal 700 16px arial; color: #AAA;}
.PhotoComment a:hover{font: italic normal 700 16px arial; color: #FEFE33;}

.validation {text-align:right;}

td.Spacer{font-size:5px; height:5px;}

.offsetLine
{
  background:#000000; font-size:2px; height:2px;
}


.container {padding: 20px 20px 10px 25px; }

.title
{
  font: normal normal 800 30px arial;
  color: #EEE;
}

.SubTitle
{
  font: normal normal 800 22px arial;
  color: #EEE;
}

.WMain
{
  font: normal normal 100 18px arial;
  color: #555555;
}

.WMain a{font: italic normal 900 18px arial; text-decoration:underline; color: #888888;}
.WMain a:link{font: italic normal 900 18px arial; text-decoration:underline; color: #888888;}
.WMain a:visited{font: italic normal 900 18px arial; text-decoration:underline; color: #888888;}
.WMain a:hover{font: italic normal 900 18px arial; text-decoration:underline; color: #32538b;}


.BMain
{
  font: normal normal 100 18px arial;
  color: #AAAAAA;
}

.BMain a{font: italic normal 900 18px arial; text-decoration:underline; color: #AAAAAA;}
.BMain a:link{font: italic normal 900 18px arial; text-decoration:underline; color: #AAAAAA;}
.BMain a:visited{font: italic normal 900 18px arial; text-decoration:underline; color: #AAAAAA;}
.BMain a:hover{font: italic normal 900 18px arial; text-decoration:underline; color: #FEFE33;}



a.t2x:hover{font: normal normal 900 18px arial; letter-spacing: 2px; color: #66C;}




















td.index{border-spacing: 0px; padding: 16px 0px 16px 16px;}

.docTxt{margin: 0px 16px 0px 16px;	text-align: justify;	line-height: 132%;}

div.t1r{padding: 8px 16px 8px 16px;}
div.t1b{padding: 8px 16px 8px 16px;}
div.t1x{padding: 8px 16px 8px 16px;}
div.t1z{padding: 8px 16px 8px 16px;}
div.t1w{padding: 8px 16px 8px 16px;}
div.t1wr{padding: 8px 16px 8px 16px;}
div.t1wb{padding: 8px 16px 8px 16px;}
div.t1wx{padding: 8px 16px 8px 16px;}
div.t1wz{padding: 8px 16px 8px 16px;}
.t1r{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #C30;}
.t1b{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #09C;}



.t1z{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #999;}
.t1w{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #FFF;}
.t1wr{background: #C30; font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #FFF;}
.t1wb{background: #09C; font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #FFF;}
.t1wx{background: #000; font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #FFF;}
.t1wz{background: #999; font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #FFF;}
a.t1r:link{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #C30;}
a.t1r:visited{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #C30;}
a.t1r:hover{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #09C;}
a.t1b:link{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #09C;}
a.t1b:visited{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #09C;}
a.t1b:hover{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #C30;}
a.t1x:link{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #000;}
a.t1x:visited{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #000;}

a.t1x:hover{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #66C;}

a.t1z:link{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #999;}
a.t1z:visited{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #999;}
a.t1z:hover{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #C30;}
a.t1w:link{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #FFF;}
a.t1w:visited{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #FFF;}
a.t1w:hover{font: normal small-caps 900 24px arial; letter-spacing: 4px; color: #C30;}


div.t2r{padding: 4px 16px 4px 16px;}
div.t2b{padding: 4px 16px 4px 16px;}
div.t2x{padding: 4px 16px 4px 16px;}
div.t2z{padding: 4px 16px 4px 16px;}
div.t2w{padding: 4px 16px 4px 16px;}
div.t2wr{padding: 4px 16px 4px 16px;}
div.t2wb{padding: 4px 16px 4px 16px;}
div.t2wx{padding: 4px 16px 4px 16px;}
div.t2wz{padding: 4px 16px 4px 16px;}
.t2r{font: normal normal 900 18px arial; letter-spacing: 2px; color: #C30;}
.t2b{font: normal normal 900 18px arial; letter-spacing: 2px; color: #09C;}
.t2x{font: normal normal 900 18px arial; letter-spacing: 2px; color: #000;}
.t2z{font: normal normal 900 18px arial; letter-spacing: 2px; color: #999;}
.t2w{font: normal normal 900 18px arial; letter-spacing: 2px; color: #FFF;}
.t2wr{background: #C30; font: normal normal 900 18px arial; letter-spacing: 2px; color: #FFF;}
.t2wb{background: #09C; font: normal normal 900 18px arial; letter-spacing: 2px; color: #FFF;}
.t2wx{background: #000; font: normal normal 900 18px arial; letter-spacing: 2px; color: #FFF;}
.t2wz{background: #999; font: normal normal 900 18px arial; letter-spacing: 2px; color: #FFF;}
a.t2r:link{font: normal normal 900 18px arial; letter-spacing: 2px; color: #C30;}
a.t2r:visited{font: normal normal 900 18px arial; letter-spacing: 2px; color: #C30;}
a.t2r:hover{font: normal normal 900 18px arial; letter-spacing: 2px; color: #09C;}
a.t2b:link{font: normal normal 900 18px arial; letter-spacing: 2px; color: #09C;}
a.t2b:visited{font: normal normal 900 18px arial; letter-spacing: 2px; color: #09C;}
a.t2b:hover{font: normal normal 900 18px arial; letter-spacing: 2px; color: #C30;}
a.t2x:link{font: normal normal 900 18px arial; letter-spacing: 2px; color: #000;}
a.t2x:visited{font: normal normal 900 18px arial; letter-spacing: 2px; color: #000;}
a.t2x:hover{font: normal normal 900 18px arial; letter-spacing: 2px; color: #66C;}
a.t2z:link{font: normal normal 900 18px arial; letter-spacing: 2px; color: #999;}
a.t2z:visited{font: normal normal 900 18px arial; letter-spacing: 2px; color: #999;}
a.t2z:hover{font: normal normal 900 18px arial; letter-spacing: 2px; color: #C30;}
a.t2w:link{font: normal normal 900 18px arial; letter-spacing: 2px; color: #FFF;}
a.t2w:visited{font: normal normal 900 18px arial; letter-spacing: 2px; color: #FFF;}
a.t2w:hover{font: normal normal 900 18px arial; letter-spacing: 2px; color: #C30;}


div.m1r{padding: 16px 16px 16px 16px;}
div.m1b{padding: 16px 16px 16px 16px;}
div.m1x{padding: 16px 16px 16px 16px;}
div.m1z{padding: 16px 16px 16px 16px;}
div.m1w{padding: 16px 16px 16px 16px;}
div.m1wr{padding: 16px 16px 16px 16px;}
div.m1wb{padding: 16px 16px 16px 16px;}
div.m1wx{padding: 16px 16px 16px 16px;}
div.m1wz{padding: 0px 0px 0px 0px;}
.m1r{font: normal normal 700 14px arial; letter-spacing: 1px; color: #C30;}
.m1b{font: normal normal 700 14px arial; letter-spacing: 1px; color: #09C;}
.m1x{font: normal normal 700 14px arial; letter-spacing: 1px; color: #000;}
.m1z{font: normal normal 700 14px arial; letter-spacing: 1px; color: #999;}
.m1w{font: normal normal 700 14px arial; letter-spacing: 1px; color: #FFF;}
.m1wr{background: #C30; font: normal normal 700 14px arial; letter-spacing: 1px; color: #FFF;}
.m1wb{background: #09C; font: normal normal 700 14px arial; letter-spacing: 1px; color: #FFF;}
.m1wx{background: #000; font: normal normal 700 14px arial; letter-spacing: 1px; color: #FFF;}
.m1wz{background: #999; font: normal normal 700 14px arial; letter-spacing: 1px; color: #FFF;}
a.m1r:link{font: normal normal 700 14px arial; letter-spacing: 1px; color: #C30;}
a.m1r:visited{font: normal normal 700 14px arial; letter-spacing: 1px; color: #C30;}
a.m1r:hover{font: normal normal 700 14px arial; letter-spacing: 1px; color: #09C;}
a.m1b:link{font: normal normal 700 14px arial; letter-spacing: 1px; color: #09C;}
a.m1b.visited{font: normal normal 700 14px arial; letter-spacing: 1px; color: #09C;}
a.m1b:hover{font: normal normal 700 14px arial; letter-spacing: 1px; color: #C30;}
a.m1x:link{font: normal normal 700 14px arial; letter-spacing: 1px; color: #000;}
a.m1x:visited{font: normal normal 700 14px arial; letter-spacing: 1px; color: #000;}
a.m1x:hover{font: normal normal 700 14px arial; letter-spacing: 1px; color: #C30;}
a.m1z:link{font: normal normal 700 14px arial; letter-spacing: 1px; color: #999;}
a.m1z:visited{font: normal normal 700 14px arial; letter-spacing: 1px; color: #999;}
a.m1z:hover{font: normal normal 700 14px arial; letter-spacing: 1px; color: #C30;}
a.m1w:link{font: normal normal 700 14px arial; letter-spacing: 1px; color: #FFF;}
a.m1w:visited{font: normal normal 700 14px arial; letter-spacing: 1px; color: #FFF;}
a.m1w:hover{font: normal normal 700 14px arial; letter-spacing: 1px; color: #C30;}

a.m1wr:link{font: normal normal 700 14px arial; letter-spacing: 1px; color: #FFF;}
a.m1wr:visited{font: normal normal 700 14px arial; letter-spacing: 1px; color: #FFF;}
a.m1wr:hover{font: normal normal 700 14px arial; letter-spacing: 1px; color: #09C;}


div.m2r{padding: 4px 16px 4px 16px;}
div.m2b{padding: 4px 16px 4px 16px;}
div.m2x{padding: 8px 16px 8px 16px; text-align:justify;}
div.m2z{padding: 4px 16px 4px 16px; text-align:justify;}
div.m2w{padding: 4px 16px 4px 16px;}
div.m2wr{padding: 4px 16px 4px 16px;}
div.m2wb{padding: 4px 16px 4px 16px;}
div.m2wx{padding: 4px 16px 4px 16px;}
div.m2wz{padding: 4px 16px 4px 16px;}
.m2r{font: normal normal 400 14px arial; letter-spacing: 0px; color: #C30;}
.m2b{font: normal normal 400 14px arial; letter-spacing: 0px; color: #09C;}
.m2x{font: normal normal 400 14px arial; letter-spacing: 0px; color: #000;}

.m2w{font: normal normal 400 14px arial; letter-spacing: 0px; color: #FFF;}
.m2wr{background: #C30; font: normal normal 400 14px arial; letter-spacing: 0px; color: #FFF;}
.m2wb{background: #09C; font: normal normal 400 14px arial; letter-spacing: 0px; color: #FFF;}
.m2wx{background: #000; font: normal normal 400 14px arial; letter-spacing: 0px; color: #FFF;}
.m2wz{background: #999; font: normal normal 400 14px arial; letter-spacing: 0px; color: #FFF;}
a.m2r:link{font: normal normal 700 14px arial; letter-spacing: 0px; color: #C30;}
a.m2r:visited{font: normal normal 700 14px arial; letter-spacing: 0px; color: #C30;}
a.m2r:hover{font: normal normal 700 14px arial; letter-spacing: 0px; color: #09C;}
a.m2b:link{font: normal normal 700 14px arial; letter-spacing: 0px; color: #09C;}
a.m2b:visited{font: normal normal 700 14px arial; letter-spacing: 0px; color: #09C;}
a.m2b:hover{font: normal normal 700 14px arial; letter-spacing: 0px; color: #C30;}
a.m2x:link{font: normal normal 700 14px arial; letter-spacing: 0px; color: #000;}
a.m2x:visited{font: normal normal 700 14px arial; letter-spacing: 0px; color: #000;}
a.m2x:hover{font: normal normal 700 14px arial; letter-spacing: 0px; color: #C30;}
a.m2w:link{font: normal normal 700 14px arial; letter-spacing: 0px; color: #FFF;}
a.m2w:visited{font: normal normal 700 14px arial; letter-spacing: 0px; color: #FFF;}
a.m2w:hover{font: normal normal 700 14px arial; letter-spacing: 0px; color: #C30;}
a.m2wb:link{background: #09C; font: normal normal 700 14px arial; letter-spacing: 0px; color: #FFF;}
a.m2wb:visited{background: #09C; font: normal normal 700 14px arial; letter-spacing: 0px; color: #FFF;}
a.m2wb:hover{background: #C30; font: normal normal 700 14px arial; letter-spacing: 0px; color: #FFF;}


.codeArea{background-color:#FFF; border-style: solid; border-width: 1px 1px 1px 1px; margin: 10px 0px 10px 0px; padding: 10px 10px 10px 10px;}
.syntaxcsharpComment{font: normal normal 400 14px courier; letter-spacing: 0px; color: #0A0;}
.syntaxcsharpXMLComment{font: normal normal 400 14px courier; letter-spacing: 0px; color: #808080;}
.syntaxcsharpNormal{font: normal normal 400 14px courier; letter-spacing: 0px; color: #000;}
.syntaxcsharpKeyword{font: normal normal 400 14px courier; letter-spacing: 0px; color: #00A;}
.syntaxcsharpSpecial{font: normal normal 400 14px courier; letter-spacing: 0px; color: #0AA;}
.syntaxcsharpRegionName{font: normal normal 400 14px courier; letter-spacing: 0px; }
.syntaxcsharpQuote{font: normal normal 400 14px courier; letter-spacing: 0px; color: #A31515;}
.syntaxcsharpTitle{font: normal normal 400 16px courier; letter-spacing: 1px; color: #777; text-align:center;}